=link_to admin_order_path(id: @order.id), method: :delete, class: "tile icon bg-color-redDark" do
  .tile-content
    %h1.icon-large.icon-cancel-2 
  .brand
    .name
      Delete Room

%div
  %h2 Spectrum Health Big Rapids
  %h3 Nutrition Service Menu

  %h4 Lunch
  %table.diets
    %thead
      %td
        Diets
    %tbody
      - @order.find_patient.diets.each do |diet|
        %tr
          %td.diets 
            = diet.name 
  %table.diets
    %thead
      %td
        Foods
    %tbody
      - @order.foods.each do |food|
        %tr
          %td.diets 
            = food.name 

  %table.diets
    %thead
      %td
        Likes
    %tbody
      - @likes.each do |like|
        %tr
          %td.diets 
            = like.description 

  %table.diets
    %thead
      %td
        Dislikes
    %tbody
      - @dislikes.each do |dislike|
        %tr
          %td.diets 
            = dislike.description 

  %table.diets
    %thead
      %td
        Allergies
    %tbody
      - @allergies.each do |allergies|
        %tr
          %td.diets 
            = allergies.kind 
