= form_for  [:admin, @wing] do |wing_form|
  %fieldset
    .control-group
      = wing_form.label :name, 'Floor Name'
      .controls
        = wing_form.text_field :name
    .control-group
      = wing_form.label :amount_of_rooms, 'Amount of Rooms'
      .controls
        = wing_form.number_field :amount_of_rooms
    .form-actions
      = wing_form.submit 'Save'

- unless @wing.new_record?
  %button.bg-color-red
    = link_to 'Delete Wing', [:admin, @wing], method: :delete, class: 'btn btn-danger'
  %a.tile.icon.bg-color-green{href: admin_wing_rooms_path(@wing)}
    .tile-content
      %h1.icon-large.icon-database
    .brand
      .name
        Room Management
  
