%div.right_side_bar
  %table.allergies
    %thead
      %td
        Allergies
    %tbody
      - @patient.allergies.each do |allergy|
        %tr
          %td 
            = allergy.kind 
  %table.allergies
    %thead
      %td
        Likes
    %tbody
      - @patient.likes.each do |like|
        %tr
          %td.likes
            = like.description
  %table.allergies
    %thead
      %td
        Dislikes
    %tbody
      - @patient.dislikes.each do |dislike|
        %tr
          %td.dislikes 
            = dislike.description

%div.diet_foods
  - @destroy_foods.each do |food|
    = link_to room_patient_meal_order_path( room_id: @room.id, patient_id: @patient.id, id: @meal.id, order_id: @order.id, food_id: food.id), method: :delete, class: "tile icon bg-color-green" do
      .tile-content
        .just_letters
          = food.name

  %a{:class => "tile icon bg-color-green", href: place_order_room_patient_meal_order_path(@room, @patient, @meal, @order)}
    .tile-content
      .checkmark
        %h2.icon-large.icon-checkmark

%div.foods_to_select
  - @foods.each do |food|      
    = link_to edit_order_room_patient_meal_order_path(room_id: @room.id, patient_id: @patient.id, meal_id: @meal.id, order_id:@order.id, food_id: food.id), method: :post, class: "tile icon bg-color-green" do
      .tile-content
        %h1.icon-large.icon-apple 
      .brand
        .name
          = food.name
