= form_for  [:admin, @menu] do |menu_form|
  %fieldset
    .control-group
      = menu_form.label :name, 'Menu Name'
      .controls
        = menu_form.text_field :name
    .control-group
      = menu_form.label :Date, 'Date'
      .controls
        = menu_form.text_field :date
    .form-actions
      = menu_form.submit 'Save'
